{% extends 'question_box/home.html' %}
{% load static %}

{% block content %}
<h1>Question Box</h1>

<nav>
    <div class = "navbar">
        <a href="{% url 'home_logged_in' %}">Home</a>
    </div>
    <div class = "navbar">
        <a href="{% url 'profile_page' %}">Account</a>
    </div>
    <div class = "navbar">
        <a href="{% url 'auth_logout' %}">Logout</a>
    </div>
</nav> 

<h2>Questions Forum</h2>

<div class = questions>
    {% for question in questions %}
    <div class = "question">
        <a href ='{% url 'question_answers' question.pk %}'>{{question.title}}</a>
    </div>
    <div>
        <p>{{question.description}}</p>
    </div> 
    <div>
        <p>{{question.created_at}}</p>
    </div>
    <div class = "question-a">
        <p>Asked By: {{question.author}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
