<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <div>
    <h3>{{ question.title }}</h3>
    <p class=“note_body”>{{ question.description }}</p>
 </div>
 <div>
    {% for answer in question.answers.all %}
    <a href=“/question_box/{{ question.pk }}” style="text-decoration: none;">
      <h1 id=“title”>{{ answer }}</h1>
    </a>
    </li>
    {% endfor %}
 </div>

</body>
</html>
