<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question Box</title>
</head>

<body>
    <div>
        <h3>{{ question.title }}</h3>
        <p>{{ question.description }}</p>
    </div>
    <div>
        {% for answer in question.answers.all %}
        <p id=“title”>{{ answer }}</p>

        {% endfor %}
    </div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}

            <div>

                <p>{{ answer }}</p>
            </div>

            <button type="submit">Add Answer</button>

        </form>
    </div>
</body>

</html>