* {
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center; 
    margin-bottom: 20px; 
    color: white; 
}

h2 {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    color: white; 
}

.search {
    margin: 10px 40px; 
    color: white; 
}

nav {
    display: flex; 
    justify-content: space-evenly;
}

.navbar {
    color: red; 
}

body {
    background-color: #F2E0B0; 
}

.questions {
    background-color: white;
    margin: 10px 20px ;  
    border-radius: 10px;
    padding: 100px; 
}

a {
    text-decoration: none; 
}

.question-a{
    margin-bottom: 20px; 
}

.posting {
    margin: 30px; 
}

.favorite-star {
    color: black;
}

.favorite-star:hover {
    color: blue;
    cursor: pointer;
}

.hidden {
    display: none;
}