{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="{% static 'index.js' %}" defer></script>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script
  <title>Home</title>
</head>
<nav>
  <a href="{% url 'home_page' %}">
    <h1>Question Box</h1>
  </a>
</nav>

<body>
  {% block content %}
  {%  endblock %}
</body>

</html>